.login-main {
  text-align: center;
  /* justify-content: center; */
  align-items: flex-start;
  padding-left: 325px;
  display: flex; 
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #e1e3eb;
}


.dark-mode.login-main {
  background-color: #121212;
}

.sub-main {
  display: flex;
  justify-content: center;
  height: 550px;
  width: 50%;
  padding-top: 30px;
  border-radius: 60px; 
  box-shadow: 5px 5px 10px rgb(207, 207, 207);
  background-color: white;
}

.dark-mode .sub-main {
  display: flex;
  justify-content: center;
  height: 550px;
  width: 50%;
  padding-top: 30px;
  border-radius: 60px; 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
  background-color: #1f1f1f;
}

.login-imgs {
  padding-top: 20px;
  justify-content: center;
  display: flex;
}

.login-container-image {
  background-color: rgb(223, 221, 221); 
  border-radius: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 115px;
  width: 115px;
}

.login-profile {
  height: 100px;
  width: 100px;
  border-radius: 130px;
} 

.login-name {
  width: 300px;
  height: 50px;
  border-radius: 60px;
  box-shadow: inset 0px 0px 25px 0px #888;
  border: none;
  outline: none;
  background-color: #fff;
  padding-left: 70px;
  font-size: 20px;
}

.second-input {
  padding-top: 20px;
}

.login-button {
  width: 380px;
  height: 50px;
  border-radius: 60px;
  background-color: #007bff;
  color: white;
  font-size: 25px;
  border: none;
  cursor: pointer;
  margin-top: 50px;
}


.dark-mode .login-button {
  background: #38d39f;
  color: #fff;
}

.theme-toggle-login {
  cursor: pointer;
  margin-right: 20px;
  height:auto;
}
