.order-wrapper {
    /* display: flex;
    justify-content: center; */
    margin-top: 20px;
    min-height: 100vh;
}

.order-container {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    margin: auto;
}

.order {
    margin-top: 20px;
}

.order-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.order-item-image {
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin-right: 20px;
}

.order-item-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 180px;
}

.order-item-details h3 {
    margin: 0;
}

.order-item-details p {
    margin: 5px 0;
}

.order-container.dark-mode {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    margin: auto;
}
